############################
# Java / Spring Boot
############################
backend/target/
*.class
*.log

############################
# Maven
############################
.mvn/wrapper/maven-wrapper.jar

############################
# Eclipse
############################
.project
.classpath
.settings/

############################
# IntelliJ
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# React / Vite
############################
frontend/node_modules/
frontend/dist/

############################
# Environment files
############################
.env
.env.*

############################
# Operating System
############################
.DS_Store
Thumbs.db
